// general styling
header {
    min-height: 95vh;
    background-image: url(../assets/new-york-landscape.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 45%;
        .header-container {
            min-height: 95vh;
            display: flex;
            flex-direction: column;
            align-items: center;
                h1 {
                    font-size: 8rem;
                    text-transform: uppercase;
                    color: white;
                    text-shadow: 0 0 5px black;
                    margin: 50px 0 110px 0;
                    text-align: center;
                }
        }
}

// form styling
.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    box-shadow: 0 0 15px black;
    width: 500px;
    min-height: 200px;
    margin-bottom: 100px;
    padding: 15px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        p {
            font-size: 2rem;
        }
}

form {
    width: 100%;
    font-size: 1.7rem;
        input {
            width: calc(100% / 2 - 40px);
            height: 35px;
            margin: 20px 5px 15px 5px;
            padding: 10px;
                &::placeholder {
                    font-size: 1.5rem;
                    opacity: 0.6;
                }
        }
        button {
            border: none;
            background-color: #FC9730;
            width: 125px;
            padding: 10px;
            box-shadow: 0 2px 7px black;
            text-transform: uppercase;
            font-weight: bold;
            transition: all 0.3s ease;
                &:hover,
                &:focus,
                &:active {
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }
        }
}

// input hover styling
/* Underline Reveal */ // add to inputs class="hvr-underline-reveal"
// @mixin underline-reveal {
// 	$duration: $mediumDuration;

// 	@include hacks();
// 	position: relative;
// 	overflow: hidden;

// 	&:before {
// 		content: "";
// 		position: absolute;
// 		z-index: -1;
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		background: $activeColor;
// 		height: 4px;
// 		@include prefixed(transform, translateY(4px));
// 		@include prefixed(transition-property, transform);
// 		@include prefixed(transition-duration, $duration);
// 		@include prefixed(transition-timing-function, ease-out);
// 	}

// 	&:hover,
// 	&:focus,
// 	&:active {

// 		&:before {
// 			@include prefixed(transform, translateY(0));
// 		}
// 	}
// }