// general styling
header {
    min-height: 95vh;
    background-image: url(../assets/new-york-landscape.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 45%;
        .header-container {
            min-height: 95vh;
            display: flex;
            flex-direction: column;
            align-items: center;
                h1 {
                    font-family: $heading-font;
                    font-size: 8rem;
                    text-transform: uppercase;
                    color: $font-secondary;
                    text-shadow: 0 0 5px $font-primary;
                    margin: 50px 0 110px 0;
                    text-align: center;
                }
        }
}

// form styling
.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid $font-primary;
    box-shadow: 0 0 15px $font-primary;
    width: 500px;
    min-height: 200px;
    margin-bottom: 100px;
    padding: 15px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        p {
            font-size: 2rem;
            font-family: $body-font;
            line-height: 3rem;
        }
}

form {
    width: 100%;
    font-size: 1.7rem;
        input {
            font-family: $body-font;
            width: calc(100% / 2 - 40px);
            height: 35px;
            margin: 20px 5px 15px 5px;
            padding: 10px;
                &::placeholder {
                    font-size: 1.5rem;
                    opacity: 0.6;
                }
        }
        button {
            font-family: $heading-font;
            border: none;
            background-color: $primary-colour;
            width: 130px;
            padding: 10px;
            margin-bottom: 10px;
            box-shadow: 0 2px 7px $font-primary;
            text-transform: uppercase;
            transition: all 0.3s ease;
                &:hover,
                &:focus,
                &:active {
                    background-color: $font-primary;
                    color: $font-secondary;
                    cursor: pointer;
                }
        }
}