/* MINOR BREAKPOINT 1: large desktops */
@media (min-width: 1450px) {
    // HEADER
}

/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
    // RESULTS
    .results-container {
        padding: 25px 25px;
            div.results-list {
                p {
                    font-size: 1.7rem;
                }
            }
    }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
    // HEADER
    header .header-container {
        h1 {
            font-size: 7rem;
            width: 335px;
        }
    }

    .form-container {
        min-height: 260px;
        width: 420px;
            input {
                width: 60%;
                margin: 20px 5px 0 5px;
            }
            input.second-input {
                margin-bottom: 20px;
            }
    }

    // RESULTS
    .results-container {
        padding: 25px 20px;
            div.results-list {
                h2 {
                    font-size: 2rem;
                }
                h3 {
                    font-size: 1.5rem;
                }
                li {
                    font-size: 1.5rem;
                }
            }
    }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
    // HEADER
    header .header-container {
        h1 {
            font-size: 5rem;
            width: 240px;
            margin-bottom: 75px;
        }
    }

    .form-container {
    min-height: 260px;
    width: 280px;
    margin-bottom: 80px;
        input {
            width: 85%;
            margin: 20px 5px 0 5px;
        }
        input.second-input {
            margin-bottom: 20px;
        }
    }

    // RESULTS
    .results-container {
        padding: 25px 10px;
            div.category-titles {
                display: none;
            }
            div.category-scores {
                width: calc(100% / 2 - 10px);
            }
            div.category-scores:first-of-type {
                margin-right: 10px;
            }
    }

    // FOOTER
    footer div p {
        font-size: 1.2rem;
    }
}