// results layout styling
.results {
    display: none;
}

.results-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // height: 0vh;
        div.results-list {
            text-align: center;
                h2 {
                    font-size: 3rem;
                    text-transform: uppercase;
                }
                h3 {
                    font-size: 2rem;
                    margin: 15px 0;
                }
                li {
                    font-size: 2rem;
                    padding: 5px 0;
                }
        }
        div.category-titles {
            min-width: 300px;
        }
}

// results button styling (change this to class & add class on with JS)
.different-cities-button {
    border: none;
    background-color: black;
    color: white;
    font-size: 1.7rem;
    margin-bottom: 50px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px black;
    text-transform: uppercase;
    // font-weight: bold;
    transition: all 0.3s ease;
        &:hover,
        &:focus {
            background-color: #FC9730;
            color: black;
            cursor: pointer;
        }
}

// classes added to dynamic content
.results-dynamic {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#FC9730, #FEBE66);
}

.results-container-dynamic {
    padding: 25px 50px;
    margin: 50px 0 25px 0;
    border: 5px solid transparent;
    border-image: linear-gradient(black, rgb(241, 239, 239));
    border-image-slice: 100%;
    border-image-slice: 1;
    background-color: rgba(255, 255, 255, 0.5);
    // min-height: 100vh;
}